header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  position: fixed;
  width: 100%;
  padding: 6px;
  margin-top: 0;
}

.logo {
  width: 90px;
}

.menu {
  width: 30px;
}

.primero {
  background-color: rgb(83, 156, 240);
}

.caja-uno {
  display: flex;
  justify-content: column;
  align-items: center;
}

.caja-uno img {
  width: 125px;
}

.caja-dos {
  display: flex;
  justify-content: column;
  align-items: center;
}

.caja-dos img {
  width: 125px;
}

.caja-tres {
  display: flex;
  justify-content: column;
  align-items: center;
}

.caja-tres img {
  width: 125px;
}

.caja-cuatro {
  display: flex;
  justify-content: column;
  align-items: center;
}

.caja-cuatro img {
  width: 125px;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
}
